body {
  background-color: #000;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  margin: 0;
  text-align: center;
  padding: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #ffdb58;
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  margin: 10px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #fff;
  color: #ffdb58;
}

.btn:active {
  position: relative;
  top: 1px;
}
