<form>
  <div>
    <label for="firstname">First Name: </label>
    <input type="text" placeholder="FirstName" id="firstname" name="firstname"/>
  </div>
  <div>
    <label for="lastname">Last Name: </label>
    <input type="text" placeholder="LastName" id="lastname" name="lastname"/>
  </div>
  <div>
    <label for="email">Email: </label>
    <input type="text" placeholder="Email" id="email" name="email"/>
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="text" placeholder="Password" id="password" name="password"/>
  </div>

</form>
