/* Sign-up page */
form {
  margin: 50px auto;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-blue);
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid var(--color-gray);
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

form input:focus {
  outline: none;
  border-color: var(--color-blue);
}

form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--color-blue);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #005ea8;
}
